.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.product-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.cart{
    height: 600px;
    background-color: rgb(230, 227, 225);
}